<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カート情報</title>
    
    <link rel="stylesheet" href="/css/costomer.css">

    <!--Google Fonts-->
    <?php include(ROOT_PATH.'/template/fonts.html'); ?>
    <script src="/js/fingerPrint.js"></script>
</head>
<body>
    <?php include(ROOT_PATH.'/template/costomer/header.html'); ?>
    <?php include(ROOT_PATH.'/template/loading.html'); ?>

    <div class="cart-body">
        <div class="order-head">
            <div class="info">
                <div class="quantity">
                    <span class="num">0</span>点
                </div>
                <div class="price">
                    合計: <span class="num total-price">0</span>円
                </div>
            </div>
            <div class="order-request-btn" id="order-request-btn">
                注文を予約する
            </div>
        </div>

        <div class="item-body">
            <div class="label">
                カート一覧
            </div>
            <div class="list">
            </div>
        </div>
    </div>
    <div class="modal hidden" id="pickup-time-modal">
        <div class="content request-time">
            <div class="title">
                時間指定
            </div>
            <div class="comment">
                商品を受け取る時間を指定してください
            </div>
            <div class="selector">
                受け取り希望時間: 
                <select id="order_pickup_time">
                    <option value="今すぐ">今すぐ</option>
                    <option value="09:00">09:00</option>
                </select>
            </div>
            <div class="comment detail">
                商品を受け取る時間は20分以降から2時間後まで、5分単位で指定できます。
                <div>
                    混雑状況により希望時間より遅くなる可能性があります。常に注文履歴より状況を確認してください。
                </div>
            </div>
            <div class="buttons">
                <span class="btn">
                    確定
                </span>
            </div>
        </div>
    </div>
</body>
</html>
<script type="application/json" id="cart_info">
    <?php echo json_encode($cart_data, JSON_UNESCAPED_UNICODE); ?>
</script>
<script>
    (function() {
        // カート一覧を表示する
        let order_data = [];
        let cartList = [];
        let option_prices = [];
        let item_append_place;
        window.addEventListener("DOMContentLoaded", () => {
            cartList = JSON.parse(document.getElementById("cart_info").textContent);
            item_append_place = document.querySelector('.item-body .list');
            document.getElementById('loading').classList.add('hidden');

            // DOMの作成
            domCreate(cartList);
            orderTotal();

            // 注文ボタンの作成
            let orderRequestBtn = document.getElementById('order-request-btn');
            orderRequestBtn.addEventListener('click', async () => {
                //
                if (cartList.length == 0) {
                    alert('カートの中に商品がありません');
                    return false;
                }

                // 確認
                if (!confirm('注文を行いますか？\n注文は支払い後に確定されます。')) {
                    return false;
                }

                // 時間指定
                let request_pickup_time = await pickUpTime();
                
                // ローディングモーダルの表示
                document.getElementById('loading').classList.remove('hidden');

                // フォーマットの作成
                var fingerPrint = '';
                try{
                    let fp = await (await fpPromise).get();
                    fingerPrint = fp.visitorId;
                }catch (e) {
                    console.log('FingerPrint Error');
                }

                let submit_data = {
                    'fingerPrint': fingerPrint,
                    'pickup_now': (request_pickup_time == '今すぐ')? true: false,
                    'pickup_time': (request_pickup_time == '今すぐ')? '00:00': request_pickup_time
                };

                // xhr
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/api/costomer.php?mode=orderRequest');
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(submit_data));

                xhr.onreadystatechange = () => {
                    if (xhr.readyState === XMLHttpRequest.DONE) {

                        if (xhr.status >= 200 && xhr.status < 400) {
                            // リクエストが正常に完了
                            let responceText = JSON.parse(xhr.responseText);

                            // 在庫不足の確認
                            if (responceText['result'] == true) {
                                // リダイレクトを行う
                                location.href = `/detail/${responceText['detail']['token']}/`
                            }else{
                                // エラー等が発生
                                switch (responceText['type']) {
                                    case 'stock':
                                        // 在庫切れ
                                        alert('一部商品が在庫切れです。\n在庫状況については、在庫状況のページを確認してください。');
                                        document.getElementById('loading').classList.add('hidden');
                                        break;
                                    default:
                                        alert('予期せぬエラーが発生しました。\n係の方へ連絡してください。');
                                        document.getElementById('loading').classList.add('hidden');
                                        break;
                                }
                            }
                            console.log(responceText);
                        }else{
                            // リクエストでエラーが発生
                            document.getElementById('loading').classList.add('hidden');
                            alert('リクエストが正常に処理できませんでした。\nもう一度お試しください。');
                            location.reload();
                        }
                    }
                }
            });
        });

        function domCreate(cartList) {
            let index = 0;
            cartList.forEach(e => {
                let column = document.createElement('div');
                column.setAttribute('class', 'column');
                column.setAttribute('index', index);

                order_data.push({
                    option_select: e.options,
                    total: 0,
                    quantity: 1,
                });
                option_prices.push({});

                let item_head = document.createElement('div');
                item_head.setAttribute('class', 'item-head');
                    let shop = document.createElement('div');
                    shop.setAttribute('class', 'shop');
                    shop.appendChild(document.createTextNode(e.product_data.shop_name));

                    let product_name = document.createElement('div');
                    product_name.setAttribute('class', 'name');
                    product_name.appendChild(document.createTextNode(e.product_data.product_name));

                    let delete_btn = document.createElement('div');
                    delete_btn.setAttribute('class', 'delete');
                    delete_btn.appendChild(document.createTextNode('削除'));
                
                item_head.appendChild(shop);
                item_head.appendChild(product_name);
                item_head.appendChild(delete_btn);
                //
                let option;
                if (e.product_data.options.length > 0) {
                    option = document.createElement('div');
                    option.setAttribute('class', 'option');
                        let label = document.createElement('div');
                        label.setAttribute('class', 'label');
                        label.appendChild(document.createTextNode('オプション'));
                    option.appendChild(label);
                }else{
                    option.appendChild(document.createTextNode('オプションなし'));
                }
                // オプション
                e.product_data.options.forEach(elm => {
                    let dom = optionDOMCreate(elm, e.options, index);
                    if (elm.isPublic) {
                        option.appendChild(dom);
                    }
                });

                let item_total = document.createElement('div');
                item_total.setAttribute('class', 'item-total');
                    let quantity = document.createElement('div');
                    quantity.setAttribute('class', 'quantity');
                    quantity.appendChild(document.createTextNode('数量: '));
                    let selector = document.createElement('select');
                    selector.setAttribute('index', index);
                    for (let i = 1; i <= 5; i++) {
                        let quantity_option = document.createElement('option');
                        quantity_option.setAttribute('value', i);
                        quantity_option.appendChild(document.createTextNode(i));
                        if (i == e.quantity) quantity_option.setAttribute('selected', '');
                        selector.appendChild(quantity_option);
                    }
                    order_data[index].quantity = e.quantity;
                    quantity.appendChild(selector);

                    // 数量のイベントリスナ
                    selector.addEventListener('change', (e) => {
                        let i = e.target.getAttribute('index');
                        order_data[i].quantity = Number(e.target.value);
                        
                        // 合計値の計算
                        itemTotalSum(i);
                        itemTotalUpdate(i);

                        // 変更を保存
                        changeCartData(i);
                    });

                    // 削除ボタン
                    delete_btn.addEventListener('click', (e) => {
                        let i = e.currentTarget.parentElement.parentElement.getAttribute('index');

                        // すべての配列から削除
                        order_data = [];
                        console.log(order_data);
                        cartList.splice(i, 1);
                        option_prices.splice(i, 1);

                        item_append_place.innerHTML = '';

                        // 再描画
                        domCreate(cartList);
                        orderTotal();

                        // 変更を保存
                        cartItemChangeSave(i, 'delete');
                    });

                    let total_price = document.createElement('div');
                    total_price.setAttribute('class', 'item-total-price');
                    total_price.appendChild(document.createTextNode('合計: '));
                    let span_price = document.createElement('span');
                    span_price.setAttribute('class', 'price');
                    // 合計値の計算
                    itemTotalSum(index);
                    span_price.appendChild(document.createTextNode(order_data[index].total));
                    total_price.appendChild(span_price);
                    total_price.appendChild(document.createTextNode('円'));
                item_total.appendChild(quantity);
                item_total.appendChild(total_price);

                column.appendChild(item_head);
                if (e.product_data.options.length > 0) column.appendChild(option);
                column.appendChild(item_total);

                item_append_place.appendChild(column);

                index++;
            });
        }

        function changeCartData(index) {
            // フォーマットの作成
            let cart_item = {
                product_id: cartList[index].product_id,
                quantity: order_data[index].quantity,
                options: order_data[index].option_select
            };

            cartItemChangeSave(index, 'change', cart_item);
        }

        function optionDOMCreate(data, selected, index) {
            let column = document.createElement('div');
            column.setAttribute('class', 'column');

            let option_name = document.createElement('div');
            option_name.setAttribute('class', 'option-name');
            option_name.appendChild(document.createTextNode(data.name));
            option_prices[index][data.name] = {};

            let select_parent = document.createElement('div');
            select_parent.setAttribute('class', 'select');
            let selector = document.createElement('select');
            selector.setAttribute('class', 'option_select');
            selector.setAttribute('option-name', data.name);
            selector.setAttribute('index', index);

            data["option_values"].sort((a, b) => a.index - b.index);

            data["option_values"].forEach(val => {
                let option = document.createElement('option');
                option.setAttribute('value', val.value);
                option.appendChild(document.createTextNode(val.value));
                if (val.value == selected[data.name]) option.setAttribute('selected', '');
                option_prices[index][data.name][val.value] = val.price;

                selector.appendChild(option);
            });
            select_parent.appendChild(selector);

            let price = document.createElement('div');
            price.setAttribute('class', 'price');
            price.appendChild(document.createTextNode(data["option_values"].find(e => e.value == selected[data.name])?.price));

            column.appendChild(option_name);
            column.appendChild(select_parent);
            column.appendChild(price);

            // イベントリスナ
            selector.addEventListener('change', (e) => {
                // 選択したValueをoption_selectへ代入
                let option_name = e.target.getAttribute('option-name');
                let i = e.target.getAttribute('index');
                order_data[i].option_select[option_name] = e.target.value;

                // オプションの値段を取得
                let option_price = option_prices[i][option_name][order_data[i].option_select[option_name]];
                e.target.parentElement.nextSibling.innerText = option_price;

                // 合計値を取得
                itemTotalSum(i);
                itemTotalUpdate(i);

                // 変更を保存
                changeCartData(i);
            });

            return column;
        }

        function itemTotalUpdate(i) {
            let column = document.querySelector(`.list .column[index="${i}"]`);
            column.querySelector('.item-total-price .price').innerText = order_data[i].total;

            orderTotal();
        }

        function itemTotalSum(i) {
            let select = order_data[i]['option_select'];
            let sum = Number(cartList[i]['product_data']['price']);

            for (let key in select) {
                sum += Number(option_prices[i][key][select[key]]);
            }

            sum = sum * order_data[i].quantity;

            order_data[i].total = sum;
        }

        function orderTotal() {
            let quantity = 0;
            let price = 0;

            order_data.forEach(e => {
                quantity += Number(e.quantity);
                price += Number(e.total);
            });
            //console.log(quantity);

            // 画面へ描画
            document.querySelector('.order-head .info .quantity .num').innerText = quantity;
            document.querySelector('.order-head .info .price .num.total-price').innerText = price;
        }

        function cartItemChangeSave(index, type, changes = []) {
            let url = '';
            switch (type) {
                case 'change':
                    url = '/api/costomer.php?mode=changeCartData';
                    break;
                case 'delete':
                    url = '/api/costomer.php?mode=cartRemove';
                    break;
            }

            return new Promise((resolve, reject) => {
                let xhr = new XMLHttpRequest();

                let json = {
                    index: index,
                    data: changes
                };

                xhr.open('POST', url);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify(json));

                xhr.onreadystatechange = () => {
                    if (xhr.readyState == 4) {
                        switch(xhr.status) {
                            case 200:
                                // 通信成功
                                console.log(xhr.responseText);
                                resolve(xhr.responseText);
                                break;
                        }
                    }
                }
            });
        }

        function pickUpTime() {
            let modal = document.getElementById('pickup-time-modal');
            // 時間を生成
            let select = document.getElementById('order_pickup_time');
            select.innerHTML = '';

            let select_pls = document.createElement('option');
            select_pls.appendChild(document.createTextNode('選択してください'));
            select_pls.setAttribute('disabled', '');
            select_pls.setAttribute('selected', '');
            select_pls.setAttribute('value', 'null');
            select.appendChild(select_pls);

            let pickup_now = document.createElement('option');
            pickup_now.appendChild(document.createTextNode('今すぐ'));
            pickup_now.setAttribute('value', '今すぐ');
            select.appendChild(pickup_now);

            let start_timecode = Math.ceil((new Date().getTime() / 1000 + (20 * 60)) / 60 / 5) * 60 * 5;
            let limit_timecode = start_timecode + 2 * 60 * 60;

            for (let t = start_timecode; t <= limit_timecode; t += 5 * 60) {
                let time = new Date(t * 1000);
                let timeString = `${('00' + time.getHours()).slice( -2 )}:${('00' + time.getMinutes()).slice( -2 )}`;
                
                let option = document.createElement('option');
                option.setAttribute('value', timeString);
                option.appendChild(document.createTextNode(timeString));

                select.appendChild(option);
            }

            // モーダルの表示
            modal.classList.remove('hidden');

            return new Promise((resolve, reject) => {
                // クリックされたときの処理
                let btn = modal.querySelector('.buttons .btn');

                let event = () => {
                    let selector = document.getElementById('order_pickup_time');

                    if (selector.value == 'null') {
                        alert('時刻を選択してください');
                        return false;
                    }

                    modal.classList.add('hidden');
                    btn.removeEventListener('click', event);
                    resolve(selector.value);
                }

                btn.addEventListener('click', event);
            });

        }
    }());
</script>