<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注文の詳細</title>

    <link rel="stylesheet" href="/css/costomer.css">

    <!--Google Fonts-->
    <?php include(ROOT_PATH.'\template\fonts.html'); ?>
</head>
<body>
    <?php include(ROOT_PATH.'\template\costomer\header.html'); ?>

    <div class="order-detail">
        <div class="qr">
            <img src="/api/costomer.php?mode=qr-code&token=<?php echo $token; ?>">
            <div class="order-id">
                注文番号: <?php echo $order_id; ?>
            </div>
        </div>

        <div class="detail">
            <div class="content">
                <div class="label">
                    ステータス
                </div>
                <div class="order-status">
                    <div class="top">
                        <?php echo $status; ?>
                    </div>
                    <div class="body">
                        <?php echo $status_body; ?>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="label">
                    受け取り希望時間
                </div>
                <div class="time">
                    <?php echo $pickup_time; ?>
                </div>
            </div>
            <div class="content">
                <div class="label">
                    通知の受け取り
                </div>
                <div class="notice-request">
                    <?php echo $notice_setting; ?>
                </div>
            </div>
            <div class="content">
                <div class="label">
                    注文の詳細
                </div>
                <div class="list">
                    <div class="item">
                        <?php echo $order_items; ?>
                    </div>
                    <div class="total">
                        合計: <span class="total"><?php echo $total; ?></span>円
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>