<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>沖縄高専祭2022 屋台予約</title>
    <link rel="stylesheet" href="/css/costomer.css">
    <?php include(ROOT_PATH.'\template\fonts.html'); ?>

</head>
<body>
    <?php include(ROOT_PATH.'\template\costomer\header.html'); ?>
    <div class="body top-page">
        <div class="new-order">
            <a href="/menu/">
                新しく注文
            </a>
        </div>
        <div class="order-history">
            <div class="label">
                注文履歴
            </div>
            <div class="order-list">
                <div class="column">
                    <a href="">
                        <div class="content order-title">
                            <span class="time">12:00</span>にした注文
                        </div>
                        <div class="content status-label">
                            <div class="label">
                                ステータス
                            </div>
                            <div class="value">
                                一部受取可能
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>