.product-edit {
  max-width: 600px;
  width: 100%;
  margin-top: 21px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.product-edit .img {
  grid-row: 1/2;
  grid-column: 1/2;
}
.product-edit .img .display {
  background-color: rgb(226, 226, 226);
  aspect-ratio: 4/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.product-edit .img input[type=file] {
  display: none;
}
.product-edit .product-info {
  grid-row: 1/2;
  grid-column: 2/3;
}
.product-edit .product-info .main-label {
  font-size: 19px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 5px;
}
.product-edit .product-info .product-name {
  margin: 3px 0;
}
.product-edit .product-info .product-price {
  font-size: 18px;
  display: flex;
  margin: 5px 0;
}
.product-edit .product-info .product-price input {
  width: 100px;
}
.product-edit .product-info .product-detail textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  resize: none;
  font-family: sans-serif;
  padding: 3px 5px;
}
.product-edit .product-info .product-detail textarea:focus {
  outline: none;
}
.product-edit .product-info input {
  box-sizing: border-box;
  padding: 3px 8px;
  font-size: 17px;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
}
.product-edit .product-info input::-moz-placeholder {
  font-size: 15px;
}
.product-edit .product-info input:-ms-input-placeholder {
  font-size: 15px;
}
.product-edit .product-info input::placeholder {
  font-size: 15px;
}
.product-edit .product-info input:focus {
  outline: none;
}
.product-edit .option-list {
  grid-column: 1/3;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.product-edit .option-list .label {
  font-size: 19px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 5px;
}
.product-edit .option-list .column {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 8px;
}
.product-edit .option-list .column .first-row {
  display: flex;
}
.product-edit .option-list .column .first-row > div {
  display: flex;
  align-items: center;
}
.product-edit .option-list .column .first-row .option-name {
  flex-grow: 1;
}
.product-edit .option-list .column .first-row .option-name input {
  font-size: 17px;
}
.product-edit .option-list .column .first-row .option-public {
  margin: 0 12px;
}
.product-edit .option-list .column input {
  box-sizing: border-box;
  padding: 3px 8px;
  border: 1px solid black;
}
.product-edit .option-list .column input::-moz-placeholder {
  font-size: 15px;
}
.product-edit .option-list .column input:-ms-input-placeholder {
  font-size: 15px;
}
.product-edit .option-list .column input::placeholder {
  font-size: 15px;
}
.product-edit .option-list .column input:focus {
  outline: none;
}
.product-edit .option-list .column .option-select-list .label {
  margin-top: 12px;
}
.product-edit .option-list .column .option-select-list .label span.append {
  font-size: 14px;
  font-weight: 400;
  font-family: sans-serif;
  cursor: pointer;
  margin-left: 20px;
}
.product-edit .option-list .column .option-select-list .label span.append:hover {
  opacity: 0.5;
}
.product-edit .option-list .column .option-select-list .head {
  display: grid;
  grid-template-columns: 1fr 80px 100px 100px 50px;
  font-size: 13px;
  text-align: center;
  padding: 5px 0;
  width: calc(100% - 20px);
  margin: 5px 10px;
  margin-bottom: 0;
  box-sizing: border-box;
  border: rgba(27, 31, 35, 0.15) 1px solid;
  box-shadow: unset;
}
.product-edit .option-list .column .option-select-list .head .head-column {
  border-right: 1px solid rgba(0, 0, 0, 0.285);
}
.product-edit .option-list .column .option-select-list .list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-edit .option-list .column .option-select-list .list .option-column {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 80px 100px 100px 50px;
  box-sizing: border-box;
  padding: 5px 0;
  width: calc(100% - 20px);
  border: rgba(27, 31, 35, 0.15) 1px solid;
  border-top: 0;
  margin-top: 0;
}
.product-edit .option-list .column .option-select-list .list .option-column div {
  border-right: 1px solid rgba(27, 31, 35, 0.15);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-edit .option-list .column .option-select-list .list .option-column div input {
  border: unset;
  width: 100%;
  text-align: center;
}
.product-edit .option-list .column .option-select-list .list .option-column div input.option-value {
  text-align: left;
}
.product-edit .option-list .column .option-select-list .list .option-column div input::-moz-placeholder {
  font-size: 13px;
  text-align: center;
}
.product-edit .option-list .column .option-select-list .list .option-column div input:-ms-input-placeholder {
  font-size: 13px;
  text-align: center;
}
.product-edit .option-list .column .option-select-list .list .option-column div input::placeholder {
  font-size: 13px;
  text-align: center;
}
.product-edit .option-list .column .delete {
  display: inline-flex;
  text-align: center;
  cursor: pointer;
  margin: 10px auto;
  font-size: 15px;
}
.product-edit .option-list .column .delete:hover {
  opacity: 0.5;
}
.product-edit .append-option {
  grid-column: 1/3;
  color: rgb(0, 17, 173);
  cursor: pointer;
  text-align: center;
  margin: 12px 0;
}
.product-edit .append-option:hover {
  opacity: 0.5;
}

.func {
  display: flex;
  box-sizing: border-box;
  margin: 12px 0;
}/*# sourceMappingURL=item.css.map */