@charset "utf-8";
// ブラウザのデフォルトスタイルをリセット

body {
    margin: 0;
}

// 変数
:root {
    // ログインボックスのbackground-colorということでbgc-login__box
    --bgc-login-box: rgba(205, 205, 205, 0.3);
    // ボタンのbackground-colorということでbgc-btn
    --bgc-btn:#000;
    // ボタンのcolor(文字色)ということでcolor-btn
    --color-btn: #fff;
}

// ここから下がメインのスタイル

body {
    font-family: sans-serif;
    padding-bottom: 60px;

}

// inputタグに関するスタイル
input {
    display: block;
    border: 1px solid #000;
    max-width: 300px;
    width: 300px;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 15px;

    &:focus {
        outline: none;
    }
}


.header {
    width: 100%;
    // border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
    padding: 3px 0;

    &__title {
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
        margin: 5px 0;
    }
}

// パスワードの表示非表示に関するスタイル
.pass {
    &__wrapper {
        position: relative;
        max-width: 300px;
        width: 100%;
        margin-top: 22px;
    }

    &__view {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        right: 0;
        cursor: pointer;
        transform: translate(-50%, -50%);
        margin-right: 5px;

        svg {
            width: 100%;
            height: auto;
        }
    }
}


// ボタンに関するベーススタイル
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-btn);
    color: var(--color-btn);
    border-radius: 5px;
    cursor: pointer;

    &__view {
        position: absolute;
    }

    &__submit {
        margin-top: 40px;
        text-align: center;
        width: fit-content;
        padding: 5px 12px;
    }

    &__QR {
        margin-top: 25px;
        max-width: 219px;
        width: fit-content;
        font-size: 13px;
        text-align: right;
        padding: 5px 12px;

        svg {
            width: 18px;
            height: auto;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// 手入力でログインする画面のスタイル
.login {

    max-width: 620px;
    width: 100%;
    margin-top: 35px;

    &__title {
        font-size: 35px;
        font-weight: 700;
        margin: 0;
        text-align: center;
        font-family: 'Noto Sans JP', sans-serif;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 22px;
        max-width: 620px;
        padding: 50px 40px;
        margin: 22px auto 0 auto;
        width: max-content;
        background-color: var(--bgc-login-box);
        box-sizing: border-box;
    }
}


// デフォルト（非表示状態）のQRコード読み取り画面のスタイル
.QR {

    &__display {
        visibility: hidden;
        width: 600px;
        height: 450px;
        border-radius: 20px;
        transition: all 0.4s;
        position: fixed;
        z-index: 3;
        top: 200%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #000;
        overflow: hidden;

        video {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &__btn-back {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        width: 142px;
        height: 41px;
        background-color: rgba(205, 205, 205, 0.25);
        border-radius: 10px;
    }
}

.mask {
    display: block;
    background-color:#000;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index:2;
    cursor: pointer;
}



// タブレット用のレスポンシブ
@media screen and (max-width: 680px) {
    .QR {
        &__display {
            width: 98%;
            aspect-ratio: 4/3;
        }
    }
}

// スマホ用のレスポンシブ
@media screen and (max-width: 480px) {
    input {
        max-width: none;
        width: 90%;
    }

    .input__pass {
        width: 100%;
    }

    .pass {

        &__wrapper {
            max-width: none;
            width: 90%;
        }
    }

    .btn {
        &__QR {
            max-width: 200px;
            font-size: 13px;
        }
    }

    .login {

        &__box {
            width: 100%;
            padding: 50px 12px;
        }

        .form {
            width: 100%;
        }
    }

    .QR {
        &__display {
            width: 98%;
            aspect-ratio: 3 / 4;
        }
    }
}
