<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注文読み取り (店舗側)</title>
    <link rel="stylesheet" href="/css/store.css">
    <link rel="stylesheet" href="/css/costomer.css">
    <script src="/js/jsQR.js"></script>
    <script src="/js/QRcode_reader.js"></script>
    <?php include(ROOT_PATH.'/template/fonts.html'); ?>
</head>
<body class="qr-reader">
    <?php include(ROOT_PATH.'/template/loading.html'); ?>
    <!--共通ヘッダー-->

    <div class="title">
        注文情報の取得(店舗側)
    </div>
    <div class="qr-display">
        <video id="qrcode-display"></video>
        <div class="label">
            QRコードリーダーを起動中
        </div>
    </div>
    <div class="func">
        <span class="btn" id="order-id-search-trg">
            注文番号を入力
        </span>
    </div>
    <div class="modal hidden" id="order-id-search-modal">
        <div class="content order-id">
            <div class="title">
                注文番号を入力
            </div>

            <div class="comment">
                画面に表示されている5桁の注文番号を入力してください
            </div>
            <div class="input">
                <input type="tel" id="order_id" placeholder="5桁の注文番号">
            </div>

            <div class="buttons">
                <span class="btn" id="order-id-search-modal-close-trg">
                    戻る
                </span>
                <span class="btn">
                    検索
                </span>
            </div>
        </div>
    </div>
    <div class="modal hidden" id="order-detail-modal">
        <div class="content order_list">
            <div class="title">
                注文詳細
            </div>
            <div class="order_lists">
                <div class="list-header">
                    <div class="">
                        選択
                    </div>
                    <div class="">
                        商品名
                    </div>
                    <div class="">
                        個数
                    </div>
                    <div class="">
                        状態
                    </div>
                </div>
                <div class="contents">
                    <div class="column">
                        <div class="checkbox">
                            <input type="checkbox">
                        </div>
                        <div class="product_name">
                            商品名
                        </div>
                        <div class="quantity">
                            1
                        </div>
                        <div class="status">
                            調理中
                        </div>
                        <div class="options">
                            <div class="option_name">
                                オプション名
                            </div>
                            <div class="option_value">
                                value
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="checkbox">
                            <input type="checkbox">
                        </div>
                        <div class="product_name">
                            商品名
                        </div>
                        <div class="quantity">
                            1
                        </div>
                        <div class="status">
                            調理中
                        </div>
                        <div class="options">
                            <div class="option_name">
                                オプション名
                            </div>
                            <div class="option_value">
                                value
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <span class="btn" id="order-detail-modal-back">
                    戻る
                </span>
                <span class="btn" id="order-detail-modal-passed">
                    受け渡し済み
                </span>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    (function() {
        /* モーダル */
        let orderIdSearchModal = {
            target: null,
            orderIdInput: null,
            open: () => {
                orderIdSearchModal.target.classList.remove('hidden');
                return true;
            },
            close: () => {
                orderIdSearchModal.target.classList.add('hidden');
            }
        };

        let orderDetailModal = {
            target: null,
            itemAppnedPlace: null,
            itemPassed: null,
            open: () => {
                orderDetailModal.target.classList.remove('hidden');
                return true;
            },
            close: () => {
                orderDetailModal.target.classList.add('hidden');
            }
        };
        
        window.addEventListener('DOMContentLoaded', () => {
            //
            orderIdSearchModal.target = document.getElementById('order-id-search-modal');
            orderIdSearchModal.orderIdInput = document.getElementById('order_id');
            orderDetailModal.target = document.getElementById('order-detail-modal');
            orderDetailModal.itemAppnedPlace = orderDetailModal.target.querySelector('.order_lists .contents');
            QRreaderDisplay = document.getElementById('qrcode-display');

            // イベントの設定
            let orderId_trg = document.getElementById('order-id-search-trg');
            orderId_trg.addEventListener('click', () => {
                orderIdSearchModal.orderIdInput.value = '';
                orderIdSearchModal.open();
            });
            let orderId_close_trg = document.getElementById('order-id-search-modal-close-trg');
            orderId_close_trg.addEventListener('click', () => {
                orderIdSearchModal.close();
            });
            let order_detail_back_trg = document.getElementById('order-detail-modal-back');
            order_detail_back_trg.addEventListener('click', () => {
                orderDetailModal.close();
                Start();
            });
            let item_passed_trg = document.getElementById('order-detail-modal-passed');
            item_passed_trg.addEventListener('click', () => {
                passedSend();
            });

            // QRコードリーダーの読み取り開始
            document.getElementById('loading').classList.add('hidden');
            Start();
        });

        function noOrders() {
            alert('注文が見つかりませんでした');
            Start();
        }

        function readerStart() {
            QRCodeReader(QRreaderDisplay).then((data) => {
                proccesing = false;

                try {
                    // 正規表現で取得
                    let match = data.match(/\/detail\/([0-9a-f]*)\//);

                    if (match != null) {
                        searchOrder(match[1], 'token');
                        document.getElementById('loading').classList.remove('hidden');
                        return true;
                    }

                    Start();

                }catch(e) {
                    console.log(e);
                    alert("このQRコードは不正です");
                    return false;
                }
            }).catch((err) => {
                alert('エラーが発生しました');
                location.reload();
                return false;
            });
        }

        function Start() {
            // QRコードの読み取りスタート
            readerStart();
        }

        function searchOrder(id, type) {
            return new Promise((resolve, reject) => {
                let xhr = new XMLHttpRequest();
                xhr.open('GET', `/api/store.php?mode=getProductDetail&${type}=${id}`);
                xhr.send();

                xhr.onreadystatechange = () => {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status >= 200 && xhr.status < 400) {
                            // リクエストが正常に完了
                            try {
                                let responceText = JSON.parse(xhr.responseText);
                                if (typeof responceText == 'object') {
                                    // DOMの作成
                                    appendOrderItems(responceText);
                                    // モーダルの表示
                                    document.getElementById('loading').classList.add('hidden');
                                    orderDetailModal.open();
                                    return true;
                                }

                                noOrders();
                                return false;
                            } catch(e) {
                                console.log(e);
                                alert('エラーが発生しました。');
                                Start();
                            }
                        }
                    }
                }
            });
        }

        function appendOrderItems(data) {
            orderDetailModal.itemAppnedPlace.innerHTML = '';

            let index = 0;
            data.forEach(element => {
                index++;
                let column = orderDetailItem(element, index);
                orderDetailModal.itemAppnedPlace.appendChild(column);
                column.addEventListener('click', (e) => {
                    let checkBox = e.currentTarget.querySelector('input.order-item-select');
                    checkBox.checked = !checkBox.checked;
                });
            });
        }

        function orderDetailItem(column, index) {
            let parent = document.createElement('div');
            parent.setAttribute('class', 'column');
            parent.setAttribute('index', index);
            parent.setAttribute('unique_id', column['id']);

            if (column['passed']) {
                parent.classList.add('hide');
            }

            // checkBox
            let checkBox = document.createElement('div');
            checkBox.setAttribute('class', 'checkbox');
            let check_input = document.createElement('input');
            check_input.setAttribute('type', 'checkbox');
            check_input.setAttribute('class', 'order-item-select');
            checkBox.appendChild(check_input);

            // product name
            let productName = document.createElement('div');
            productName.setAttribute('class', 'product_name');
            productName.appendChild(document.createTextNode(column['product_name']));

            // quantity
            let quantity = document.createElement('div');
            quantity.setAttribute('class', 'quantity');
            quantity.appendChild(document.createTextNode(column['quantity']));

            // status
            let status = document.createElement('div');
            status.setAttribute('class', 'status');
            status.appendChild(document.createTextNode(column['status']));

            // options
            let options = document.createElement('div');
            options.setAttribute('class', 'options');
            for (let key in column['product_option']) {
                options.appendChild(optionsAppned(key, column['product_option'][key]));
            }

            if (Object.keys(column['product_option']).length == 0) {
                let null_label = document.createElement('div');
                null_label.setAttribute('class', 'null');
                null_label.appendChild(document.createTextNode('オプションなし'));
                options.appendChild(null_label);
            }

            // append
            parent.appendChild(checkBox);
            parent.appendChild(productName);
            parent.appendChild(quantity);
            parent.appendChild(status);
            parent.appendChild(options);

            return parent;
        }

        function optionsAppned(key, value) {
            let column = document.createElement('div');
            column.setAttribute('class', 'option_column');

            let option_name = document.createElement('div');
            option_name.setAttribute('class', 'option_name');
            option_name.appendChild(document.createTextNode(key));
            
            let option_value = document.createElement('div');
            option_value.setAttribute('class', 'option_value');
            option_value.appendChild(document.createTextNode(value));

            column.appendChild(option_name);
            column.appendChild(option_value);

            return column;
        }

        function passedSend() {
            // 選択している商品を取得
            let selectors = orderDetailModal.itemAppnedPlace.querySelectorAll('input.order-item-select');

            let select = [];
            selectors.forEach(e => {
                if (e.checked) {
                    let id = e.parentElement.parentElement.getAttribute('unique_id');
                    if (id != null) {
                        select.push(id);
                    }
                }
            });

            if (select.length == 0) {
                alert('1品以上を選択してください');
                return false;
            }

            document.getElementById('loading').classList.remove('hidden');

            return new Promise((resolve, reject) => {
                let xhr = new XMLHttpRequest();
                xhr.open('POST', `/api/store.php?mode=passed`);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(select));

                xhr.onreadystatechange = () => {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status >= 200 && xhr.status < 400) {
                            // リクエストが正常に完了
                            let responceText = xhr.responseText;
                            console.log(responceText);
                            if (responceText == 'true') {
                                // モーダルを閉じる
                                document.getElementById('loading').classList.add('hidden');
                                orderDetailModal.close();
                                Start();
                                return true;
                            }
                        }
                    }
                }
            });
        }
    }());
</script>