<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在庫状況の取得</title>
    <link rel="stylesheet" href="/css/store.css">
    <?php include(ROOT_PATH.'/template/fonts.html'); ?>
</head>
<body>
    <!-- ヘッダー -->
    <?php include(ROOT_PATH.'/template/store/header.html'); ?>

    <div class="update-time">
        13:49時点
    </div>
    <div class="stock-list">

    </div>
</body>
</html>
<script>
    (function() {
        //
        window.addEventListener('DOMContentLoaded', () => {
            //
            getStockData();
        });

        function getStockData() {
            return new Promise((resolve, reject) => {
                let xhr = new XMLHttpRequest();
                xhr.open('GET', '/api/store.php?mode=stock');
                xhr.send();

                xhr.onreadystatechange = () => {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status >= 200 && xhr.status < 400) {
                            let responce = xhr.responseText;

                            try {
                                let data = JSON.parse(responce);
                                domCreate(data);
                                console.log(data);
                            }catch (e) {
                                // エラー
                                console.log(e);
                                //alert('データの取得に失敗しました。\nリロードを行ってください。');
                            }
                        }
                    }
                }
            });
        }

        function domCreate(data) {
            for (let product_id in data) {
                // すでにDOMを作成している場合
                let currentDOM = document.querySelector(`.column[product_id="${product_id}"]`);

                if (currentDOM == null) {
                    // DOMがnullの場合は生成する
                    currentDOM = columnDOM(data, product_id);

                    document.querySelector('.stock-list').appendChild(currentDOM);
                }

                // UPDATE作業
                let column = data[product_id];
                currentDOM.querySelector('.stock').innerText = column['stock'];

                //
                if ('option' in column) {
                    for (let option_name in column['option']) {
                        for (let value in column['option'][option_name]) {
                            let opt_data = column['option'][option_name][value];

                            // DOMの検索
                            let sl_option = currentDOM.querySelector(`.opv-column[option_id="${opt_data['option_id']}"`);
                            if (sl_option == null) {
                                continue;
                            }
                            sl_option.querySelector('.op-stock').innerText = opt_data['stock'];
                        }
                    }
                }
            }

            // 日時の更新
            let currentTime = new Date();
            let tmpText = `${('00' + currentTime.getHours()).slice(-2)}:${('00' + currentTime.getMinutes()).slice(-2)}:${('00' + currentTime.getSeconds()).slice(-2)} 時点`;
            document.querySelector('.update-time').innerText = tmpText;
        }

        function columnDOM(data, product_id) {
            let parent = document.createElement('div');
            parent.setAttribute('class', 'column');
            parent.setAttribute('product_id', product_id);

            let product_name = document.createElement('div');
            product_name.setAttribute('class', 'product_name');
            product_name.appendChild(document.createTextNode(data[product_id]['product_name']));

            let stock = document.createElement('div');
            stock.setAttribute('class', 'stock');
            stock.appendChild(document.createTextNode('--'));

            parent.appendChild(product_name);
            parent.appendChild(stock);

            if ('option' in data[product_id]) {
                let option = document.createElement('div');
                option.setAttribute('class', 'option');

                for (let option_name in data[product_id]['option']) {
                    let op_column = document.createElement('div');
                    op_column.setAttribute('class', 'op-column');

                    let opt_name = document.createElement('div');
                    opt_name.setAttribute('class', 'option_name');
                    opt_name.appendChild(document.createTextNode(option_name));

                    let option_values = document.createElement('div');
                    option_values.setAttribute('class', 'values');
                    
                    for (let value in data[product_id]['option'][option_name]) {
                        if (data[product_id]['option'][option_name][value]['stock'] == -1 || data[product_id]['option'][option_name][value]['stock'] == '--') {
                            continue;
                        }

                        let opv_col = document.createElement('div');
                        opv_col.setAttribute('class', 'opv-column');
                        opv_col.setAttribute('option_id', data[product_id]['option'][option_name][value]['option_id']);

                        let option_value = document.createElement('div');
                        option_value.setAttribute('class', 'option_value');
                        option_value.appendChild(document.createTextNode(value));

                        let op_stock = document.createElement('div');
                        op_stock.setAttribute('class', 'op-stock');
                        op_stock.appendChild(document.createTextNode('--'));
                        
                        opv_col.appendChild(option_value);
                        opv_col.appendChild(op_stock);
                        option_values.appendChild(opv_col);
                    }

                    op_column.appendChild(opt_name);
                    op_column.appendChild(option_values);

                    if (option_values.children.length > 0) {
                        option.appendChild(op_column);
                    }
                }

                parent.appendChild(option);
            }

            return parent;
        }
    }());
</script>